In [28]:
import pandas as pd # A general purpose Python library for data analysis
import numpy as np # A library for scientific computing in Python (e.g., provides high-performance multi-dimensional array objects and operations)

import matplotlib.pyplot as plt # a plotting library for Python and NumPy (readily customizable)
import seaborn as sns # Another plotting library for Python (fewer syntax, excellent default themes, behind the scenes, it uses matplotlib)
import time

## Knowledge Stream Summer 2023

In this notebook, we will learn about the key data structures provided by the Pandas library: **Data Frames, Series, and Indices**.

In addition, we will learn about the following operations:
* How to access data contained in these structures?
* How to read files (e.g., csv, xlsx, sql) to create these structures?
* How to carry out different data manipulation tasks using these structures?

`Dataset`: US elections with information about candidates, their party, votes won, year of election and the result.

## Reading in Data Frames from Files

Pandas has a number of useful file reading tools. You can see them enumerated by typing **"pd.re"** and pressing `tab`. We'll be using **read_csv** today. Note that these file reading functions do all the *data parsing* for you, which is very useful.

Before loading a file into a dataframe, let's first take a look at the **elections.csv** file

In [2]:
#Answer Here
df=pd.read_csv('elections.csv')
print(df)

     Year          Candidate                  Party  Popular vote Result  \
0    1824     Andrew Jackson  Democratic-Republican        151271   loss
1    1824  John Quincy Adams  Democratic-Republican        113142    win
2    1828     Andrew Jackson             Democratic        642806    win
3    1828  John Quincy Adams    National Republican        500897   loss
4    1832     Andrew Jackson             Democratic        702735    win
..    ...                ...                    ...           ...    ...
177  2016         Jill Stein                  Green       1457226   loss
178  2020       Joseph Biden             Democratic      81268924    win
179  2020       Donald Trump             Republican      74216154   loss
180  2020       Jo Jorgensen            Libertarian       1865724   loss
181  2020     Howard Hawkins                  Green        405035   loss

             %
0    57.210122
1    42.789878
2    56.203927
3    43.796073
4    54.574789
..         ...
177   1.073699
178  51.311515
179  46.858542
180   1.177979
181   0.255731

[182 rows x 6 columns]

We can use the **head command** to show only a few rows of a dataframe.

# heading
## heading2

In [3]:
# Answer Here
df.head(10)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
5,1832,Henry Clay,National Republican,484205,loss,37.603628
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583
7,1836,Hugh Lawson White,Whig,146109,loss,10.005985
8,1836,Martin Van Buren,Democratic,763291,win,52.272472
9,1836,William Henry Harrison,Whig,550816,loss,37.721543

There is also a **tail command**.

In [4]:
#Answer Here
df.tail(5)

     Year       Candidate        Party  Popular vote Result          %
177  2016      Jill Stein        Green       1457226   loss   1.073699
178  2020    Joseph Biden   Democratic      81268924    win  51.311515
179  2020    Donald Trump   Republican      74216154   loss  46.858542
180  2020    Jo Jorgensen  Libertarian       1865724   loss   1.177979
181  2020  Howard Hawkins        Green        405035   loss   0.255731

The `read_csv` command lets us specify a **column to use an index**. For example, we could have used __Year__ as the index.

In [5]:
#Answer Here
df=pd.read_csv("elections.csv", index_col= "Year")
df

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
2016         Jill Stein                  Green       1457226   loss   1.073699
2020       Joseph Biden             Democratic      81268924    win  51.311515
2020       Donald Trump             Republican      74216154   loss  46.858542
2020       Jo Jorgensen            Libertarian       1865724   loss   1.177979
2020     Howard Hawkins                  Green        405035   loss   0.255731

[182 rows x 5 columns]

Alternately, we could have used the **set_index** commmand on the dataframe.

In [6]:
#Answer Here
df=pd.read_csv('elections.csv')
print(df)

     Year          Candidate                  Party  Popular vote Result  \
0    1824     Andrew Jackson  Democratic-Republican        151271   loss
1    1824  John Quincy Adams  Democratic-Republican        113142    win
2    1828     Andrew Jackson             Democratic        642806    win
3    1828  John Quincy Adams    National Republican        500897   loss
4    1832     Andrew Jackson             Democratic        702735    win
..    ...                ...                    ...           ...    ...
177  2016         Jill Stein                  Green       1457226   loss
178  2020       Joseph Biden             Democratic      81268924    win
179  2020       Donald Trump             Republican      74216154   loss
180  2020       Jo Jorgensen            Libertarian       1865724   loss
181  2020     Howard Hawkins                  Green        405035   loss

             %
0    57.210122
1    42.789878
2    56.203927
3    43.796073
4    54.574789
..         ...
177   1.073699
178  51.311515
179  46.858542
180   1.177979
181   0.255731

[182 rows x 6 columns]

In [7]:
print(df.columns)

Index(['Year', 'Candidate', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

In [8]:
df.set_index('Year', inplace=True)
print(df.head())

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789

# Caution:
The **set_index command** (along with all other data frame methods) **does not modify the dataframe**, i.e., the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe (e.g., `elections.set_index("Party",inplace=True)`).

## Duplicate Columns?
By contast, column names MUST be unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically any duplicates. Load duplicate_columns.csv

In [9]:
#Answer Here
df2=pd.read_csv('duplicate.csv')
df2

,Year,Candidate,Party,Popular vote,Result,%,Unnamed: 6,Result.1
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122,NaN,loss
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,NaN,win
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,NaN,win
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073,NaN,loss
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,NaN,win
...,...,...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699,NaN,loss
178,2020,Joseph Biden,Democratic,81268924,win,51.311515,NaN,win
179,2020,Donald Trump,Republican,74216154,loss,46.858542,NaN,loss
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979,NaN,loss
181,2020,Howard Hawkins,Green,405035,loss,0.255731,NaN,loss

In [10]:
print(df2.columns)

Index(['Year', 'Candidate', 'Party', 'Popular vote', 'Result', '%',
       'Unnamed: 6', 'Result.1'],
      dtype='object')

## The [ ] Operator & Indexing

The DataFrame class has an indexing operator **[ ]** (also known as the 'brack' operator) that lets you do a variety of different things. If your provide a String to the **[ ]** operator, you get back a ***Series*** corresponding to the requested label.

1.Use **[ ]** to display different columns

2.Use List retrive multiple columns

In [18]:
df.columns

Index(['Candidate', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

In [20]:
#1.Use [ ] to display different columns
print(df[['Result']])

     Result
Year
1824   loss
1824    win
1828    win
1828   loss
1832    win
...     ...
2016   loss
2020    win
2020   loss
2020   loss
2020   loss

[182 rows x 1 columns]

In [21]:
print(df[['Popular vote']])

      Popular vote
Year
1824        151271
1824        113142
1828        642806
1828        500897
1832        702735
...            ...
2016       1457226
2020      81268924
2020      74216154
2020       1865724
2020        405035

[182 rows x 1 columns]

In [24]:
#2.Use a List to Retrieve Multiple Columns
print(df[['Candidate', 'Party']])

              Candidate                  Party
Year
1824     Andrew Jackson  Democratic-Republican
1824  John Quincy Adams  Democratic-Republican
1828     Andrew Jackson             Democratic
1828  John Quincy Adams    National Republican
1832     Andrew Jackson             Democratic
...                 ...                    ...
2016         Jill Stein                  Green
2020       Joseph Biden             Democratic
2020       Donald Trump             Republican
2020       Jo Jorgensen            Libertarian
2020     Howard Hawkins                  Green

[182 rows x 2 columns]

The **[ ]** operator also accepts a list of strings. In this case, you get back a **DataFrame** corresponding to the requested strings.

In [30]:
# Answer Here
import pandas as pd

# Load the CSV file
df = pd.read_csv('duplicate.csv')


print("Retrieving 'Candidate' and 'Party' columns as a DataFrame:")
candidate_party_df = df[['Candidate', 'Party']]
print(candidate_party_df)

print("\nRetrieving 'Year', 'Candidate', and 'Popular vote' columns as a DataFrame:")
year_candidate_vote_df = df[['Year', 'Candidate', 'Popular vote']]
print(year_candidate_vote_df)

Retrieving 'Candidate' and 'Party' columns as a DataFrame:
             Candidate                  Party
0       Andrew Jackson  Democratic-Republican
1    John Quincy Adams  Democratic-Republican
2       Andrew Jackson             Democratic
3    John Quincy Adams    National Republican
4       Andrew Jackson             Democratic
..                 ...                    ...
177         Jill Stein                  Green
178       Joseph Biden             Democratic
179       Donald Trump             Republican
180       Jo Jorgensen            Libertarian
181     Howard Hawkins                  Green

[182 rows x 2 columns]

Retrieving 'Year', 'Candidate', and 'Popular vote' columns as a DataFrame:
     Year          Candidate  Popular vote
0    1824     Andrew Jackson        151271
1    1824  John Quincy Adams        113142
2    1828     Andrew Jackson        642806
3    1828  John Quincy Adams        500897
4    1832     Andrew Jackson        702735
..    ...                ...           ...
177  2016         Jill Stein       1457226
178  2020       Joseph Biden      81268924
179  2020       Donald Trump      74216154
180  2020       Jo Jorgensen       1865724
181  2020     Howard Hawkins        405035

[182 rows x 3 columns]

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.

Note that we can also use the **to_frame** method to turn a Series into a DataFrame.

Extract one col name "Candidates" from DataFrame it will be a series. Convert series into a DataFrame.

In [31]:
# Answer Here
import pandas as pd

# Load the CSV file
df = pd.read_csv('elections.csv')


candidate_series = df['Candidate']
print("Series:")
print(candidate_series)


candidate_df = candidate_series.to_frame()
print("\nDataFrame:")
print(candidate_df)


candidate_df_alternative = df[['Candidate']]
print("\nDataFrame using a list of one label:")
print(candidate_df_alternative)

Series:
0         Andrew Jackson
1      John Quincy Adams
2         Andrew Jackson
3      John Quincy Adams
4         Andrew Jackson
             ...
177           Jill Stein
178         Joseph Biden
179         Donald Trump
180         Jo Jorgensen
181       Howard Hawkins
Name: Candidate, Length: 182, dtype: object

DataFrame:
             Candidate
0       Andrew Jackson
1    John Quincy Adams
2       Andrew Jackson
3    John Quincy Adams
4       Andrew Jackson
..                 ...
177         Jill Stein
178       Joseph Biden
179       Donald Trump
180       Jo Jorgensen
181     Howard Hawkins

[182 rows x 1 columns]

DataFrame using a list of one label:
             Candidate
0       Andrew Jackson
1    John Quincy Adams
2       Andrew Jackson
3    John Quincy Adams
4       Andrew Jackson
..                 ...
177         Jill Stein
178       Joseph Biden
179       Donald Trump
180       Jo Jorgensen
181     Howard Hawkins

[182 rows x 1 columns]

### Row Indexing

The `[]` operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

Extract few rows from DataFrame

In [32]:
# Answer Here
# Extract the first 5 rows
print("First 5 rows:")
print(df[:5])

# Extract rows from index 10 to 15
print("\nRows from index 10 to 15:")
print(df[10:16])

# Extract the last 5 rows
print("\nLast 5 rows:")
print(df[-5:])

First 5 rows:
   Year          Candidate                  Party  Popular vote Result  \
0  1824     Andrew Jackson  Democratic-Republican        151271   loss
1  1824  John Quincy Adams  Democratic-Republican        113142    win
2  1828     Andrew Jackson             Democratic        642806    win
3  1828  John Quincy Adams    National Republican        500897   loss
4  1832     Andrew Jackson             Democratic        702735    win

           %
0  57.210122
1  42.789878
2  56.203927
3  43.796073
4  54.574789

Rows from index 10 to 15:
    Year               Candidate       Party  Popular vote Result          %
10  1840        Martin Van Buren  Democratic       1128854   loss  46.948787
11  1840  William Henry Harrison        Whig       1275583    win  53.051213
12  1844              Henry Clay        Whig       1300004   loss  49.250523
13  1844              James Polk  Democratic       1339570    win  50.749477
14  1848              Lewis Cass  Democratic       1223460   loss  42.552229
15  1848        Martin Van Buren   Free Soil        291501   loss  10.138474

Last 5 rows:
     Year       Candidate        Party  Popular vote Result          %
177  2016      Jill Stein        Green       1457226   loss   1.073699
178  2020    Joseph Biden   Democratic      81268924    win  51.311515
179  2020    Donald Trump   Republican      74216154   loss  46.858542
180  2020    Jo Jorgensen  Libertarian       1865724   loss   1.177979
181  2020  Howard Hawkins        Green        405035   loss   0.255731

If you provide a single argument to the `[]` operator, it tries to use it as a name. This is true even if the argument passed to **[ ]** is an integer.

In [33]:
#elections[0] #this does not work, try uncommenting this to see it fail in action, woo
print("First row using .iloc[]:")
print(df.iloc[0])

# Extract rows from index 0 to 4 using .iloc[]
print("\nRows from index 0 to 4 using .iloc[]:")
print(df.iloc[0:5])

# Assuming 'Year' is the index for label-based indexing
df.set_index('Year', inplace=True)

# Extract the row with index label 1824 using .loc[]
print("\nRow with index label 1824 using .loc[]:")
print(df.loc[1824])

First row using .iloc[]:
Year                             1824
Candidate              Andrew Jackson
Party           Democratic-Republican
Popular vote                   151271
Result                           loss
%                           57.210122
Name: 0, dtype: object

Rows from index 0 to 4 using .iloc[]:
   Year          Candidate                  Party  Popular vote Result  \
0  1824     Andrew Jackson  Democratic-Republican        151271   loss
1  1824  John Quincy Adams  Democratic-Republican        113142    win
2  1828     Andrew Jackson             Democratic        642806    win
3  1828  John Quincy Adams    National Republican        500897   loss
4  1832     Andrew Jackson             Democratic        702735    win

           %
0  57.210122
1  42.789878
2  56.203927
3  43.796073
4  54.574789

Row with index label 1824 using .loc[]:
              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878

The following cells allow you to **test your understanding**. Let's go over the summary of what we have learnt (see slides).

# Creating DataFrames
Create DataFrame using List and Columns name.

In [34]:
data = [
    [1, 'A', 24],
    [2, 'B', 27],
    [3, 'C', 22]
]
columns = ['ID', 'Name', 'Age']

df = pd.DataFrame(data, columns=columns)
print(df)

   ID     Name  Age
0   1    Alice   24
1   2      Bob   27
2   3  Charlie   22

Creating DataFrames using **Dictionary**.

In [35]:
# Answer Here

data = {
    'ID': [1, 2, 3],
    'Name': ['A', 'B', 'C'],
    'Age': [24, 27, 22]
}

df = pd.DataFrame(data)
print(df)

   ID Name  Age
0   1    A   24
1   2    B   27
2   3    C   22

## Filtering via Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a **filtered version of the data frame**, where **only rows corresponding to True appear**.

In [ ]:
elections[[False, False, False, False, False,
          False, False, True, False, False,
          True, False, False, False, True,
          False, False, False, False, False,
          False, True, False]]

One very common task in Data Science is **filtering**. Boolean Array Selection is one way to achieve this in Pandas. We start by observing that **logical operators** like the equality operator can be applied to **Pandas Series data** to generate a **Boolean Array**.

Compare the 'Result' column to the String 'win' and Show results

In [ ]:
#Answer Here

Compare the 'Party' column to the String 'Democratic' and Show results

In [ ]:
#Answer Here

The output of the logical operator applied to the Series is **another Series with the same name and index, but of datatype boolean**.

These boolean Series can be used as an argument to the `[]` operator.

Creates  DataFrame of all election winners since 1980.

In [ ]:
#Answer Here

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

Show all 'win' results between 1980 to 2000

In [ ]:
#Answer Here

Show all 'Loss' results of Independent party

In [ ]:
# Answer Here

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

Show results of win with percentage less than 50%

In [ ]:
# Answer Here

Show all 'win' results between 1980 to 2000

In [ ]:
# Answer Here

## Loc and iLoc

Show 5 enteries from start

In [ ]:
# Answer Here

You can provide `.loc` a list of row labels [0-5] and column labels ['Candidate','Party', 'Year'] as input to return a dataframe

In [ ]:
#Answer Here

Loc also supports **slicing** (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

Use Slicing on Rows and Columns

In [ ]:
# Answer Here

If we provide only a **single label** for the column argument, we get back a **Series**.

In [ ]:
# Answer Here

If we want a data frame instead and don't want to use to_frame, we can provide a **list** containing the column name.

In [ ]:
# Answer Here

If we give only one row but many column labels, we'll get back a **Series** corresponding to a row of the table. This new Series has a neat index, where **each entry is the name of the column** that the data came from.

In [ ]:
# Answer Here

In [ ]:
# Answer Here

If we omit the column argument altogether, the **default behavior is to retrieve all columns**.

In [ ]:
# Answer Here

Specify Rows and Columns as List to retrive specific enteries

In [ ]:
# Answer Here

Boolean Series are also boolean arrays, so we can use the Boolean Array Selection from earlier using loc as well.

In [ ]:
# Answer Here

## String-labeled Rows

Let's do a quick example using data with string-labeled rows instead of integer labeled rows, just to make sure we're really understanding loc.

Use mottos.csv file

In [ ]:
# Answer Here

Extract slice, can be specified using slice notation, even if the rows have string labels instead of integer labels.

### iloc

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. 'iloc' slicing is **exclusive**, just like standard Python slicing of numerical values.

Use iloc to extract first 3 rows and columns from elections DataFrame

In [ ]:
#Answer Here

We will use both `loc` and `iloc` in the course. `loc` is generally preferred for a number of reasons, for example:

1. It is harder to make mistakes since you have to literally write out what you want to get.
2. Code is easier to read, because the reader doesn't have to know e.g., what column #17 represents.
3. It is robust against permutations of the data, e.g. the social security administration switches the order of two columns.

However, iloc is sometimes more convenient. We'll provide examples of when iloc is the superior choice.

## Handy Properties and Utility Functions for Series and DataFrames

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with. For example:

In [ ]:
mottos = pd.read_csv("/content/drive/MyDrive/mottos.csv")

In [ ]:
# Answer Here

Size of DataFrame

In [ ]:
# Answer Here

The fact that the size is 250 means our data file is relatively small, with only 250 total entries.

Shape of DataFrame

In [ ]:
# Answer Here

Use describe function and extract the meaningful information from DataFrame

In [ ]:
# Answer Here

Above, we see a quick summary of all the data. For example, the most common language for mottos is Latin, which covers 23 different states. Does anything else seem surprising?

We can get a direct reference to the index using .index.

In [ ]:
# Answer Here

In [ ]:
mottos.head(2)

It turns out the columns also have an Index. We can access this index by using `.columns`.

In [ ]:
# Answer Here

## Sorting and Value Counts

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [ ]:
# Answer Here

As mentioned before, all Data Frame methods return a copy and do **not** modify the original data structure, unless you set inplace to True.

If we want to sort in reverse order, we can set `ascending=False`.

In [ ]:
elections.sort_values('%', ascending=False)

We can also use `sort_values` on Series objects.

In [ ]:
mottos['Language'].sort_values().head(50)

For Series, the `value_counts` method is often quite handy.

In [ ]:
mottos['Language'].value_counts()

Also commonly used is the `unique` method, which returns **all unique values** as a numpy array.

In [ ]:
mottos['Language'].unique()

In [ ]:
def fiba(n):
    if n < 2:
        return n
    else:
        return fiba(n-1) + fiba(n-2)



fiba(5)

# Thank you!